@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px;
  --sidebar-width: 280px;

  --main-content-height: calc(100vh - (var(--header-height) + 2rem));
  --sb-track-color: #d4dbde;
  --sb-thumb-color: #a2a2a2;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}
